# SEE https://github.com/direnv/direnv/wiki/Python#poetry
layout_poetry() {
    VIRTUAL_ENV=$(poetry env info --path 2>/dev/null ; true)

    if [[ -z $VIRTUAL_ENV || ! -d $VIRTUAL_ENV ]]; then
        log_status "No virtual environment exists. Executing \`poetry install\` to create one."
        poetry install --with dev,docs
        VIRTUAL_ENV=$(poetry env info --path)
    fi

    PATH_add "$VIRTUAL_ENV/bin"
    export POETRY_ACTIVE=1
    export VIRTUAL_ENV
}

use flake . --impure --accept-flake-config --extra-experimental-features 'nix-command flakes'
layout_poetry
