# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
covreport
pip-wheel-metadata
.tox

# mkdocs documentation
/site

# mypy
.mypy_cache/
