default_language_version:
  python: python3

repos:
  # checking our hooks themselves
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  # hooks running from local virtual environment
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        args: ["--config", "pyproject.toml"]
        require_serial: true
      - id: poetry_check
        description: Check the integrity of pyproject.toml
        name: poetry_check
        entry: poetry check
        language: system
        pass_filenames: false
        require_serial: true

  # isorting our imports
  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21
    hooks:
      - id: isort
        additional_dependencies:
          - isort[pyproject]

  # prettier to format our many yaml files
  - repo: https://github.com/prettier/prettier
    rev: "1.19.1"
    hooks:
      - id: prettier
        exclude: |
          (?x)
          # Those files have wrong syntax and would fail
          ^tests/demo_invalid/copier.yml|tests/demo_transclude_invalid(_multi)?/demo/copier.yml$

  # miscellaneous hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.noeof\. # Some tests require no EOF
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  # regenerate the README table of contents
  - repo: https://github.com/thlorenz/doctoc
    rev: v1.4.0
    hooks:
      - id: doctoc
        args:
          - --github
          - --maxlevel=6
          - --title=<summary>Table of contents</summary>
        exclude: ^tests/
