exclude: |
  (?x)
  # Files that fail if changed manually
  .*\.(diff|patch)$
repos:
  - repo: https://gitlab.com/moduon/precommix
    rev: "v0.10.0-4-gd1054f6"
    hooks:
      # Commit messages
      - id: commitizen
      # Multi-lang
      - id: no-copier-garbage
      - id: prettier
        exclude: |
          (?x)
          # Those files have wrong syntax and would fail
          ^tests/demo_invalid/copier.yml|tests/demo_transclude_invalid(_multi)?/demo/copier.yml$
          # HACK https://github.com/prettier/prettier/issues/9430
          |^tests/demo
      - id: restructuredtext-lint
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.noeof\. # Some tests require no EOF
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace
      # Nix
      - id: alejandra
      # Python
      - id: autoflake
      - id: pyupgrade
      - id: black
      - id: blacken-docs
      - id: isort
      - id: flake8
      - id: pydocstyle
        pass_filenames: false # HACK https://github.com/PyCQA/pydocstyle/pull/610
      - id: poetry-check
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: debug-statements
      - id: fix-encoding-pragma
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: |
          (?x)
          ^tests/.*/
          |^tests/helpers.py$
      - id: requirements-txt-fixer
      # PO translations
      - id: obsolete-messages
      - id: fuzzy-messages
