default_language_version:
  python: python3

default_stages:
  - commit

repos:
  # commit messages
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.20.5
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # checking our hooks themselves
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  # hooks running from local virtual environment
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        types: [python]
        args: ["-i", "--remove-all-unused-imports", "--ignore-init-module-imports"]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: poetry_check
        description: Check the integrity of pyproject.toml
        name: poetry_check
        entry: poetry check
        language: system
        pass_filenames: false
        require_serial: true
      - id: poetry_isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  # prettier to format our many yaml files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        exclude: |
          (?x)
          # Those files have wrong syntax and would fail
          ^tests/demo_invalid/copier.yml|tests/demo_transclude_invalid(_multi)?/demo/copier.yml$
          # HACK https://github.com/prettier/prettier/issues/9430
          |^tests/demo

  # miscellaneous hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.noeof\. # Some tests require no EOF
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
