dist: bionic
language: python
python:
  - '3.6'
  - '3.7'
  - '3.8-dev'
  - 'nightly'

matrix:
  allow_failures:
    - python: 'nightly'

before_install:
  - pip install -U pip coveralls

install:
  - pip install .[testing]

script:
  - pytest --cov copier copier tests

after_success:
  - coveralls
