language: python
python:
  - "2.6"
  - "2.7"
  - "pypy"
  - "3.3"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install pytest --use-mirrors && python setup.py install
# command to run tests, e.g. python setup.py test
script: py.test tests
