language: python

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true

before_install:
  - pip install -U pip pytest

install:
  - python setup.py install

script: pytest -x copier tests
