site_name: copier
site_description: Library and command-line utility for rendering projects templates.
site_url: https://copier.readthedocs.io/
repo_url: https://github.com/copier-org/copier
repo_name: copier-org/copier
watch: [copier]

nav:
  - Overview: "index.md"
  - Creating a template: "creating.md"
  - Configuring a template: "configuring.md"
  - Generating a project: "generating.md"
  - Updating a project: "updating.md"
  - Settings: "settings.md"
  - Reference:
      - cli.py: "reference/cli.md"
      - errors.py: "reference/errors.md"
      - jinja_ext.py: "reference/jinja_ext.md"
      - main.py: "reference/main.md"
      - settings.py: "reference/settings.md"
      - subproject.py: "reference/subproject.md"
      - template.py: "reference/template.md"
      - tools.py: "reference/tools.md"
      - types.py: "reference/types.md"
      - user_data.py: "reference/user_data.md"
      - vcs.py: "reference/vcs.md"
  - Comparisons: comparisons.md
  - Frequently Asked Questions: faq.md
  - Contributing: "contributing.md"
  - Changelog: "changelog.md"

theme:
  name: material
  features:
    - content.code.annotate
    - navigation.top
    - navigation.tracking
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to system preference

extra_css:
  - css/mkdocstrings.css

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji
  - pymdownx.magiclink
  - toc:
      permalink: true
  - footnotes

plugins:
  - autorefs
  - search
  - markdown-exec
  - mkdocstrings
