site_name: copier
site_description: Library and command-line utility for rendering projects templates.
site_url: https://copier.readthedocs.io/
repo_url: https://github.com/copier-org/copier
repo_name: copier-org/copier
watch: [copier]

nav:
  - Overview: "index.md"
  - Creating a template: "creating.md"
  - Configuring a template: "configuring.md"
  - Generating a project: "generating.md"
  - Updating a project: "updating.md"
  - Settings: "settings.md"
  - Reference: reference/api.md
  - Comparisons: comparisons.md
  - Frequently Asked Questions: faq.md
  - Contributing: "contributing.md"
  - Changelog: "changelog.md"

theme:
  name: material
  features:
    - content.code.annotate
    - navigation.top
    - navigation.tracking
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to system preference

extra_css:
  - css/mkdocstrings.css

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji
  - pymdownx.magiclink
  - toc:
      permalink: true
  - footnotes

plugins:
  - autorefs
  - search
  - markdown-exec
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            docstring_options:
              ignore_init_summary: true
            docstring_section_style: table
            filters: public
            heading_level: 1
            inherited_members: true
            merge_init_into_class: true
            separate_signature: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            show_source: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            summary: true
  - redirects:
      redirect_maps:
        "reference/cli.md": "reference/api.md"
        "reference/errors.md": "reference/api.md#copier.errors"
        "reference/jinja_ext.md": "reference/api.md"
        "reference/main.md": "reference/api.md"
        "reference/settings.md": "reference/api.md#copier.settings"
        "reference/subproject.md": "reference/api.md"
        "reference/template.md": "reference/api.md"
        "reference/tools.md": "reference/api.md"
        "reference/types.md": "reference/api.md"
        "reference/user_data.md": "reference/api.md"
        "reference/vcs.md": "reference/api.md"
