site_name: copier
site_description: Library and command-line utility for rendering projects templates.
site_url: https://copier.readthedocs.io/
repo_url: https://github.com/copier-org/copier
repo_name: copier-org/copier

nav:
  - Overview: "index.md"
  - Creating a template: "creating.md"
  - Configuring a template: "configuring.md"
  - Generating a project: "generating.md"
  - Updating a project: "updating.md"
  - Reference:
      - cli.py: "reference/cli.md"
      - errors.py: "reference/errors.md"
      - main.py: "reference/main.md"
      - subproject.py: "reference/subproject.md"
      - template.py: "reference/template.md"
      - tools.py: "reference/tools.md"
      - types.py: "reference/types.md"
      - user_data.py: "reference/user_data.md"
      - vcs.py: "reference/vcs.md"
  - Comparisons: comparisons.md
  - Contributing: "contributing.md"
  - Changelog: "changelog.md"

theme:
  name: "material"

extra_css:
  - css/mkdocstrings.css

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - pymdownx.superfences
  - pymdownx.emoji
  - pymdownx.magiclink
  - toc:
      permalink: true

plugins:
  - search
  - mermaid2:
      arguments:
        flowchart:
          curve: basis
  - mkdocstrings:
      watch:
        - copier
