[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "[[ project_name ]]"
version = "[[ version ]]"
description = "[[ description ]]"
license = "MIT"

readme = "README.md"
homepage = "https://github.com/jpscaletti/copier"

# Requirements
[tool.poetry.dependencies]
python = "^3.6"
