# from: https://github.com/codecov/codecov-action#example-workflowyml-with-codecov-action

name: Coverage

on:
  push:
    branches: [master]

jobs:
  upload-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - run: python -m pip install poetry poetry-dynamic-versioning
      - name: generate cache key PY
        run: echo "::set-env name=PY::$((python -VV; pip freeze) | sha256sum | cut -d' '
          -f1)"
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ env.PY }}|${{ hashFiles('pyproject.toml') }}|${{ hashFiles('poetry.lock') }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: git config --global user.name copier-ci
      - run: git config --global user.email copier@copier
      - run: poetry install
      - name: Generate coverage report
        run: |
          poetry run pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          yml: ./codecov.yml
          fail_ci_if_error: true
